
@font-face {
    font-family: 'Tw Cen MT';
    src: url('./TwCenMT-Italic.woff2') format('woff2'),
        url('./TwCenMT-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Tw Cen MT';
    src: url('./TwCenMT-Bold.woff2') format('woff2'),
        url('./TwCenMT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tw Cen MT';
    src: url('./TwCenMT-BoldItalic.woff2') format('woff2'),
        url('./TwCenMT-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Tw Cen MT';
    src: url('./TwCenMT-Regular.woff2') format('woff2'),
        url('./TwCenMT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}